.view.application
  width: 100%
  transition: all .3s
  &.animated
    transform: scale(.75)

  .menu-button
    width: 70px
    height: 70px
    position: absolute
    top: 15px
    left: 10px
    z-index: 2
    font-size: 40px
    text-align: center
    color: #555
    cursor: pointer
    padding: 12px
