@require './imports/reset'
@require './mixins/fonts'
@require './imports/colors'


body
  background: #cdcdcd
  min-height: 100vh
  font-rodus()
  font-size: 1em

a
  text-decoration: none
  color: rgba(100, 100, 200, 1)
  &:hover
    color: greyBlack

.main
  width: 100vw
  .page
    background: whiteTrans
    min-height: 100vh
    margin: auto
    .content
      display: inline-block
      width: 100%

@require './imports/extras'
@require './imports/inputs'
