@import './imports/reset'
@import './mixins/fonts'
@import './imports/colors'


body
  background: linear-gradient(30deg, #373B44 0%, #73C8A9 90%)
  min-height: 100vh
  font-rodus()
  font-size: 1em

a
  text-decoration: none
  color: rgba(100, 100, 200, 1)
  &:hover
    color: greyBlack



.page
  width: 90vw
  min-height: 90vh
  margin: 5vh 5vw 5vh 5vw
  position: relative

@import './imports/extras'

