@import './imports/reset'
@import './mixins/fonts'
@import './imports/colors'


body
  background: linear-gradient(30deg, #373B44 0%, #73C8A9 90%)
  min-height: 100vh
  font-rodus()
  font-size: 1em

a
  text-decoration: none
  color: rgba(100, 100, 200, 1)
  &:hover
    color: greyBlack

.main
  width: 100vw
  //margin: 2.5vh 2.5vw 2.5vh 2.5vw
  .page
    background: whiteTrans
    min-height: 90vh
    position: relative
    .content
      width: 80%
      display: inline-block

@import './imports/extras'
@import './imports/inputs'

