.plugins.view
  width: 100%
  .content
    padding-top: 10%
    display: flex
    justify-content: center
    .items
      width: 90%
      max-width: 600px
      .item
        position: relative
        margin-bottom: 2%
        padding: 20px
        min-height: 100px
        background: rgba(255, 255, 255, .8)
        .activate
          position: absolute
          right: 5%
          top 25%
