.plugins.view
  .page
    background: rgba(255, 255, 255, .2)
  .items
    width: 90%
    margin: 5%
    .item
      position: relative
      width: 100%
      min-height: 100px
      margin-bottom: 2%
      padding: 20px
      background: rgba(250, 250, 250, .8)
      .activate
        position: absolute
        right: 5%
        top 25%
