.view.plugin
  text-align: center
  .info
    .name
      font-size: 40px
      margin: 10px
    .description
      font-size: 25px
    .token
      margin: 20px
  .iframe
    width: 50%
    border: none
    box-shadow: 0 1px 3px #cdcdcd
    transition: all .3s
    @media all and (max-width: 900px)
      width: 90%
