@require 'nib'
@require '../../css/mixins/aligns'
@require '../../css/mixins/fonts'
@require '../../css/imports/colors'

.navbar-component
  position relative
  height 100px
  width 100%
  padding: 25px
  background: #fff
  color: #171717
  .logo
    font-trench()
    text-align left
    margin-left 100px
    font-size 50px
    width 200px
  a:hover
    text-decoration none
  &.dark
    background: #000
    border-bottom: 2px solid blue
  &.dark, &.dark a
    color: #fff

  .right
    absolute right 10px top 10px
