@import 'nib'
@import '../../css/mixins/aligns'
@import '../../css/mixins/fonts'
@import '../../css/imports/colors'

.navbar.component
  position relative
  height 100px
  width 100%
  padding: 25px
  .logo
    font-trench()
    text-align left
    margin-left 100px
    font-size 50px
    width 200px
  a:hover
    text-decoration none

  &.light
    background: white
    .logo
      color black
  &.transparent
    background: transparent
    .logo
      color white

  &.dark
    background: greyLight
    .logo
      color white
  &.bg-dark
    background rgba(50, 50, 50, .2)
    box-shadow 0 0 5px rgba(50, 50, 50, .2)
    color white

  .right
    absolute right 10px top 10px
