.main
  &.plugin
    .page
      background: rgba(255, 255, 255, 0.9)
      padding: 2%
    .info
      height: 10%
      width: 100%
    iframe
      height: 90%
      width: 100%
      border: none
