@require 'nib'
@require '../../css/imports/colors'

.notifications.component
  z-index: 9
  fixed: bottom 10px right 15px
  width: 250px
  .notification
    position: relative
    width: 90%
    padding: 10px
    margin: 5%
    transition: all .5s
    background: white
    opacity: .8
    box-shadow: 0 0 1px greyTrans
    color: greyDark
    overflow: hidden
    .close
      absolute: top 5px right 5px
      cursor: pointer
    .title
      font-weight: bold
    &:hover
      opacity: 1
    &.alert
      background: yellow
      color: white
    &.success
      background: green
      color: white
    &.error
      background: red
      color: white
