@import 'nib'
@import '../../css/imports/colors'

.sidebar.component
  width: 20%

  height: 90vh
  background: duskBlue
  display: inline-block
  margin: 0
  vertical-align: top
  .header
    width: 100%
    height: 75px
    background: rgba(160, 60, 60, 1)
    .user
      relative: top 10px left 10px
      width: 55px
      height: 58px
      padding-left: 2px
      .name
        absolute top 23px left 65px
        height: 20px
        width: 90%
        overflow: hidden
        color: white
  ul
    text-align: center
    li
      transition: all .3s
      list-style: none
      font-size: 18px
      height: 50px
      padding: 18px
      border-left: 5px solid transparent
      color: whiteShade
      background: greyTrans
      &:hover
        background: greyTransShade
        border-left: 5px solid grey
      &.active
        background: duskBlueDark
        border-left: 5px solid blue
        color: white
      &.alert
        background: duskBlueDark
        border-left: 5px solid red
        color: white
@media all and (min-width: 1200px)
 .sidebar.component
   width: 10%
