@import 'nib'
.widgets
  width: 100%
  .widget
    widget: 95%
    margin: 2.5%
    .frame
      position: relative
      min-width: 250px
      .close
        font-rodus()
        absolute: top 5px right 5px
        height: 30px
        width: 30px
        z-index: 2
        font-size: 26px
        opacity: .2
        padding: 4px
        text-align: center
        &:hover
          opacity: 1

      iframe
        height: 400px
        width: 100%
        border: none
        overflow: hidden
        margin: 0
        padding: 0
        box-shadow: 0 0 2px #cdcdcd
        background: white
        border-radius: 3px
