@import 'nib'
.widgets
  width: 100%
  padding-top 75px
  .widget
    widget: 90%
    margin: 5%
    .frame
      width: 100%
      position: relative
      .delete
        font-rodus()
        absolute: top 10px right 10px
        height: 45px
        width: 45px
        z-index: 2
        font-size: 32px
        opacity: .2
        &:hover
          opacity: 1

      iframe
        height: 250px
        width: 100%
        border: none
