@require 'nib'
@require '../../css/mixins/aligns'
@require '../../css/mixins/fonts'
@import '../../css/imports/colors'

.infobar.component
  position: relative
  height: 60px
  width: 100%
  padding: 20px
