@require '../../css/imports/colors'
@require '../../css/imports/buttons'
@require '../../css/mixins/aligns'
@require '../../css/mixins/background'
@require '../../css/mixins/trans'
@require '../../css/mixins/fonts'

.login.view
  position: relative
  height: 100vh
  .page
    position: relative
    text-align: center
    .box
      center()
      trans-background(250, 250, 250, .2)
      width: 80%
      max-width: 500px
      max-width: 800px
      padding: 10vh
      margin-top: 15vh
      text-align: center
      transition: all .5s
      input
        width: 50%
        margin: 5px
        padding: 15px
      .logo
        font-trench()
        width: 90%
        margin: 5%
        color: black
        font-size: 60px
      .status
        height: 15px
        color: red

  @media all and (max-width: 900px)
    .page
      .box
        padding: 5vh
        input
          width: 90%
  @media all and (max-width: 500px)
    .page
      .box
        padding: 1vh
        input
          width: 95%
